.marco5{
    width: 133px;
    position: absolute;
    transform: rotate(45deg);
    top:2145px;
    left: 6px;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.pdf-epigrafe{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-epigrafe{
    display: flex;
    flex-direction: column;
    justify-content: center;
}