.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.marco2{
    width:133px;
    position: absolute;
    transform: rotate(45deg);
    top:82%;
    left: 6px;
}
.mano{
    position: absolute;
    right: 272px;
    top:93%;
    width: 129px;
    transform: rotate(111deg);
    margin-left: 57px;    
}