.App {
  text-align: left;
}
h1{
  font-size: 300%;

}
.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 50px;
  text-align: right;
  color: slategray;
  background-color: rgba(195, 0, 255, 0.554);
  z-index: -3;

}
.a{
  background-color: violet;
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 1100vh;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% { transform: rotate(0deg); }
  50%{ transform: rotate(90deg); }
  100%{ transform: rotate(0deg); }
}

