.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 50px;
  text-align: right;
  background-color: rgba(77, 79, 206, 0.507);
  z-index: -3;

}


.App-header {
  background-color: rgba(111, 111, 116, 0.541);
  height: auto;
  width: 200vh;
  padding: 15px;
  color: black;
}



@keyframes App-logo-spin {
  0% { transform: rotate(0deg); }
  50%{ transform: rotate(90deg); }
  100%{ transform: rotate(0deg); }
}

